    .App {
        padding-left: 50px;
       }
       
       .App-logo {
         height: 40vmin;
         pointer-events: none;
       }
       
       @media (prefers-reduced-motion: no-preference) {
         .App-logo {
           animation: App-logo-spin infinite 20s linear;
         }
       }
       
       .App-header {
         background-color: #fff;
         display: flex;
         flex-direction: column;
         font-size: calc(10px + 2vmin);
         color: #000;
       }
       .button{
         margin-left: 6px;
       }
       .list_type{
         list-style-type: none;
           display: flex;
           padding-left: 0;
       }
       .filter--active {
         border-bottom: 1px solid black;
       }
       .list_type li{
         margin: 5px;
         cursor: pointer;
       }
       
       .App-link {
         color: #61dafb;
       }
       .active{
         text-decoration: none;
       }
       .inactive{
         text-decoration: line-through;
       }
       
       @keyframes App-logo-spin {
         from {
           transform: rotate(0deg);
         }
         to {
           transform: rotate(360deg);
         }
       }
       